<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<!--video 9-->
<!--<body>-->
<!--<h2>mai ek masum si template hu harry bhai!</h2>-->
<!--{{name}} is from {{place}}-->

<!--<h1>welcome to the text analyazer. Enter your text below</h1>-->
<!--<form action="/removepunc" method='get'>-->
<!--    <textarea name='text' style="'margin:0px; width:721px; height:93px;"></textarea>-->
<!--    <button type='submit'>analyze text</button>-->
<!--</form>-->
<!--</body>-->


<!--video 10 , 12-->
<body>
<h2>mai ek masum si template hu harry bhai!</h2>
{{name}} is from {{place}}

<h1>welcome to the text analyazer. Enter your text below</h1>
<form action="/analyze" method='get'>
    <textarea name='text' style="margin:0px; width:721px; height:93px;"></textarea><br>
    <input type="checkbox" name="removepunc">remove punctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New line remover<br>
    <input type="checkbox" name="spaceremover">space remover<br>
    <input type="checkbox" name="charcount">character counter<br>
    <button type='submit'>analyze text</button>
</form>
</body>
</html>